<p id="notice"><%= notice %></p>

<div class=images>
  <h1>Your Bad Art</h1>
  <%= image_tag @image.link %>
<%= image_tag "/images/my_test.jpg"%>
<%= image_tag "/images/my_test2.jpg"%>
<%= image_tag "/images/my_test3.jpg"%>
<%= image_tag "/images/my_test4.jpg"%>
<%= image_tag "/images/my_test5.jpg"%>
<%= image_tag "/images/my_test6.jpg"%>
<%= image_tag "/images/my_test7.jpg"%>

<%= link_to 'Back', images_path %>
</div>

